<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("ocz-promo.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>About</h1>
          <p class="lead">At E-Smart we are offering you a great range of products at an affordable price, whilst offering you the best
            online shopping experience. Offering a wide range computer peripherals and components at valuable prices.
          </p><br /><br /><br /><br /><br /><br /><br />
          <a class="btn btn-large btn-primary" href="<%= about_path %>">About</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("nvidia_promo.jpg")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Sign Up!</h1>
          <p class="lead">Sign up today and recieve benefical promotional offers</p>
          <a class="btn btn-large btn-primary" href="<%= registrations_path %>">Sign up today</a>

        </div>
      </div>
    </div>
    <div class="item">
     <%=  image_tag("intel_promo.jpg") %>

    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <!--html5 data attribute passes previous and next to the id "myCarousel" -->
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<center>
  <footer>
    <%= image_tag("Reassurance.gif") %>
  </footer>
  <footer>
    <p>&copy; Copyright E-Smart 2013 </p>
    <b><h3><span class="label label-important">NOT A REAL SHOP!</span></h3></b>
  </footer>
</center>