<div class="span9 span-fixed-sidebar">
  <div class="hero-unit">
    <h1>Welcome to E-Smart</h1>
    <p>At E-Smart we are offering you a great range of products at an affordable price, whilst offering you the best
      online shopping experience. Offering a wide range computer peripherals and components.</p>

    <p><a class="btn btn-primary btn-large" href="<%=about_path%>">Learn More&raquo;</a></p>
  </div>
</div>
<% @products.each do |product| %>
    <table></table>
    <div class="row-fluid">

      <div class="span4">
        <h3><%= product.title %></h3>

        <p><%= product.description %>
          <b><%= number_to_currency(product.price, :unit => "&pound;") %></b>
          <%=link_to 'Show', product, :class => 'btn btn-mini'%></p>
        <%= image_tag(product.image) %>
        <%= button_to 'Add to Cart' , line_items_path(:product_id => product) %>
        <!--:remote true sets the respond_to in the controller to respond to js -->

      </div>

<% end %>
</div>
<center>
<footer>
  <%= image_tag("Reassurance.jpg") %>
</footer>
  </center>
