<h1>Contact Us</h1>
<div class="well">
  <div class="pull-right">
    <div id="map_canvas" style="width:500px;height:380px;"></div>
  </div>
  <%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic'} do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>






      <%= f.label :subject %>
      <%= f.select :subject, [["Enquiry", "enquiry",], ["Complaint", "complaint"], ["Feedback", "feedback"]] %>



      <%= f.label :message %>
      <%= f.text_area :message, :cols => 10, :rows => 10 %>

      <div class='commit'>
        <%= f.submit :submit %>
      </div>
  <% end %>
  <b><p>(*) Required field</p></b>


</div>

<!--Following script code sets up google api.
By reading googles api the following could be set up
https://developers.google.com/maps/documentation/javascript/tutorial
-->
<script src="http://maps.google.se/maps/api/js?sensor=true"></script>

<script>

    function initialize() {
        var myCenter = new google.maps.LatLng(51.42335, -0.20350);
        /*Set lat and long coordinates*/
        directionsDisplay = new google.maps.DirectionsRenderer();
        /*Render google map*/

        var settings = {   /*Settings for google map*/
            center:myCenter,
            zoom:15,
            mapTypeControl:true,
            mapTypeControlOptions:{style:google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl:true,
            navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL},
            mapTypeId:google.maps.MapTypeId.ROADMAP /*Type of Map */
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
        //directionsDisplay.setMap(map);

        var marker = new google.maps.Marker({
            position:myCenter      /*Set marker in the center of the map*/
        });

        marker.setMap(map);
        /*Set marker on the map*/

        var infowindow = new google.maps.InfoWindow({   /*Information pane to contain */

            content:"24 Alexanda Road" +
                    " Wimbledon " +
                    " London " +
                    " SW19 9PQ "
        });
        google.maps.event.addListener(marker, 'click', function () {    /*Event listener responds to click and opens marker when clicked.*/
            infowindow.open(map, marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    /*When page window is loaded initialise the google map*/
</script>




