<!--Below is the layout of the mailer and what the end user should see when they recieve the email.-->

<p>Dear, <%= @order.first_name %></p>

<p>Your summary for the following order created on <%= @order.created_at.to_s(:short) %> is as followed</p>

<table style="float: left;" xmlns="http://www.w3.org/1999/html">
  <tr>
    <td class="th" colspan=2>Order Details</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><%= @order.first_name %></td>  <!--Get the order first name -->
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= @order.last_name %></td>  <!--Get the order last name -->
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @order.email %></td>  <!--Get the order email -->
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @order.address %></td> <!--Get the address -->
  </tr>
  <tr>
    <td>Card Type</td>
    <td><%= @order.card_type %></td>  <!--Get the card type -->
  </tr>
  <tr>
    <td>Product</td>
    <td><%= @order.line_items.product.title %></td>
    </tr>
    <td><b>Total</b></td>
    <td><%= number_to_currency(@order.total_price, :unit => "£") %></td>
  </tr>
 </table>

Thank you for shopping at E-Smart

