<form class="form-horizontal">
  <fieldset>
      <h1>Payment Methods</h1>
    <div class="well">
      <p>Please be sure to provide your exact billing address and telephone number that your credit card has on file for you - this will ensure no delays in processing your order.

        <br /><br /> <br />

      We accept the following cards from the list of debit and credit cards below <br /><br /> <br />


      </p>

      <p><%= image_tag("card-amex.gif")%>&nbsp;
        <%= image_tag("card-solo.png")%>&nbsp;
        <%= image_tag("card-master.jpg")%> &nbsp;
        <%= image_tag("card-maestro.png")%> &nbsp;
        <%= image_tag("card-visa-elec.gif")%> &nbsp;
        <%= image_tag("card-visa.gif")%>


      </p>
    </div>
  </fieldset>
</form>