<h1><%= @category.name %></h1>   <!--Get category name-->
<table class="row-fluid">
  <!--Loop the products -->
  <% @products.each do |product| %>
      <td rowspan="3"> <%= image_tag(product.image, :size => "250x250") %></td>
      <!--Get product image and set size to 250 x 250-->
      <td colspan="2"> <h3><%= product.title %></h3>  </td>
      <!--Get produt title-->
      </tr>
      <tr>
        <td colspan="2"><%= product.description %> <br />    <!--Get product description-->
          <% if stock_left(product) == 0 %>
              <!--The above "if" stock_left passes in the product which has been defined in the
     "helper/product_helper.rb This calculates how much stock is left  -->
              <span class="label label-important ">SOLD OUT</span> <!--Display "SOLD OUT if stock is 0-->
          <% elsif stock_left(product) < 5 %>
              <span class="label label-warning "> ONLY <%= product.stock %> Left </span><!--Display how much stock left-->

          <% else stock_left(product) > 5 %> <!--If stock is greater than 5 then display "IN STOCK"-->
              <span class="label label-success "> IN STOCK </span>
          <% end %>
          <% if product.price < 90 %>   <!--If product price is less than 90 display the following-->
              <span class="label label-important">Special offer <%= number_to_currency(product.price, :unit => "&pound;") %></span>
          <% else %>
              <span class="label "><%= number_to_currency(product.price, :unit => "&pound;") %></span>
          <% end %>
          <%= link_to 'Show', product, :class => 'btn btn-primary btn-mini '%>
          <% if stock_left(product) == 0 %>
              <%= button_to 'Add to Cart', line_items_path(:product_id => product), :class => 'btn btn-primary btn-mini ',  :disabled => true%> <!--disable button if no stock-->
          <% else %>
              <%= button_to 'Add to Cart', line_items_path(:product_id => product), :class => 'btn btn-primary btn-mini '%>
          <% end  %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="3"> <!--Set column span to 3 -->
          <hr /> <!--Defines a thematic break  -->
        </td>
      </tr>
  <% end %>  <!--End loop -->
</table>
<center>
  <footer>
    <%= image_tag("Reassurance.gif") %>
  </footer>
  <footer>
    <p>&copy; Copyright E-Smart 2012 </p>
    <b><h3><span class="label label-important">NOT A REAL SHOP!</span></h3></b>
  </footer>
</center>
